~~ This file is part of permeance-parent.
~~
~~ permeance-parent is free software: you can redistribute it and/or modify it
~~ under the terms of the GNU General Public License as published by the Free
~~ Software Foundation, either version 3 of the License, or (at your option) any
~~ later version.
~~
~~ permeance-parent is distributed in the hope that it will be useful, but WITHOUT
~~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
~~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
~~
~~ You should have received a copy of the GNU General Public License along with
~~ permeance-parent. If not, see <http://www.gnu.org/licenses />.

~~ NOTE: For help with the syntax of this file, see: http://maven.apache.org/doxia/references/apt-format.html

    ------
    Paranoid Profile
    ------
    Martin Lau [martin.lau@permeance.com.au]
    ------
    2012-10-04
    ------

Paranoid profile

    This profile enables a number of automated quality checks which fail the build in the case of violations.

* Plugins

** Checkstyle

    The {{{http://maven.apache.org/plugins/maven-checkstyle-plugin/}maven-checkstyle-plugin}} for checking source code
    metrics against the rules defined in
    {{{https://raw.github.com/permeance/permeance-parent/master/permeance-checkstyle.xml}permeance-checkstyle.xml}}.

*** Configuration

    To use an alternative checkstyle configuration (the default is
    {{https://raw.github.com/permeance/permeance-parent/master/permeance-checkstyle.xml}}), define the property:

+-----+
<properties>
    <maven-checkstyle-plugin.configLocation>/path/or/url/to/config.xml</maven-checkstyle-plugin.configLocation>
</properties>
+-----+

** PMD

    The {{{http://maven.apache.org/plugins/maven-pmd-plugin/}maven-pmd-plugin}} for checking byte code metrics against
    the rules defined in
    {{{https://raw.github.com/permeance/permeance-parent/master/permeance-pmd.xml}permeance-pmd.xml}}

*** Configuration

    To use an alternative PMD configuration (the default is
    {{https://raw.github.com/permeance/permeance-parent/master/permeance-pmd.xml}}), define the property:

+-----+
<properties>
    <maven-pmd-plugin.ruleset>/path/or/url/to/config.xml</maven-pmd-plugin.ruleset>
</properties>
+-----+

** Cobertura

    The {{{http://mojo.codehaus.org/cobertura-maven-plugin/}cobertura-maven-plugin}} for verifying unit test coverage
    of atleast 75% across all lines and branches across all classes, packages and modules.

*** Configuration

    To configure the rate of branch coverage (by default, all are 75), you can define the following properties:

+-----+
<properties>
    <cobertura-maven-plugin.branchRate>70</cobertura-maven-plugin.branchRate>
    <cobertura-maven-plugin.lineRate>70</cobertura-maven-plugin.lineRate>
    <cobertura-maven-plugin.totalBranchRate>60</cobertura-maven-plugin.totalBranchRate>
    <cobertura-maven-plugin.totalLineRate>60</cobertura-maven-plugin.totalLineRate>
    <cobertura-maven-plugin.packageLineRate>50</cobertura-maven-plugin.packageLineRate>
    <cobertura-maven-plugin.packageBranchRate>50</cobertura-maven-plugin.packageBranchRate>
</properties>
+-----+

    If you have code which you don't want included in the cobertura metrics (for example, code which is generated by an
    external tool) you can extend the instrumentation configuration in your child pom:

+-----+
<plugin>
    <groupId>org.codehaus.mojo</groupId>
    <artifactId>cobertura-maven-plugin</artifactId>
    <version>${cobertura-maven-plugin.version}</version>
    <configuration>
        <instrumentation>
            <excludes>
                <exclude>package/to/exclude/**/*.class</exclude>
                <exclude>some/other/package/**/*.class</exclude>
            </excludes>
        </instrumentation>
    </configuration>
</plugin>
+-----+

** Findbugs

    The {{{http://mojo.codehaus.org/findbugs-maven-plugin/}findbugs-maven-plugin}} for static byte code analysis to
    locate probable bugs.

*** Configuration

    By default, findbugs is run with maximum effort and minimum threshold (ie as finicky as possible). To change these
    settings, set the project properties:

+-----+
<properties>
    <findbugs-maven-plugin.threshold>Low</findbugs-maven-plugin.threshold>
    <findbugs-maven-plugin.effort>Max</findbugs-maven-plugin.effort>
</properties>
+-----+

** JavaNCSS

    The {{{http://mojo.codehaus.org/javancss-maven-plugin/}javancss-maven-plugin}} for checking of various source
    metrics such as size and complexity.

*** Configuration

    The plugin is configured to use the standard CCN (10) and NCSS (100) limits. To change these, set the following
    site properties:

+-----+
<properties>
    <javancss-maven-plugin.ccnLimit>10</javancss-maven-plugin.ccnLimit>
    <javancss-maven-plugin.ncssLimit>100</javancss-maven-plugin.ncssLimit>
</properties>
+-----+

* Site configuration

    Running 'mvn site' with this profile enabled adds the following reports to the generated site:

    * {{{http://maven.apache.org/plugins/maven-pmd-plugin/}maven-pmd-plugin}} for reporting on PMD checks and
      violations found during execution of the 'paranoid' profile.

    * {{{http://maven.apache.org/plugins/maven-checkstyle-plugin/}maven-checkstyle-plugin}} for reporting on checkstyle
      violations found during execution of the 'paranoid' profile.

    * {{{http://mojo.codehaus.org/findbugs-maven-plugin/}findbugs-maven-plugin}} for reporting on findbugs violations
      found during execution of the 'paranoid' profile.

    * {{{http://mojo.codehaus.org/cobertura-maven-plugin/}cobertura-maven-plugin}} for reporting on cobertura
      violations found during the execution of the 'paranoid' profile.

    * {{{http://mojo.codehaus.org/javancss-maven-plugin/}javancss-maven-plugin}} for reporting on JavaNCSS violations
      found during the execution of the 'paranoid' profile.

* Warning

    If you drop the limits of these properties just to make your project build - then someone will come around and
    smack your knuckles with a ruler. If you're using this profile, accept that you will be in for some pain and work
    with it. If you're at the point of needing things to compile so desperately that you need to drop numbers, then
    just don't use the profile (that's why it's in a profile in the first place!).
